Source: sagitta-xdm-conf
Maintainer: Jeremi Gosney <jgosney@stricture-group.com> 
Section: misc
Priority: important
Standards-Version: 3.9.2
Build-Depends: make

Package: sagitta-xdm-conf
Architecture: amd64
Depends: ${misc:Depends}, xdm, feh
Recommends: od6config || nvidia-settings
Description: xdm configuration files for GPU compute nodes 
 Sagitta's xdm configuration files for GPU compute nodes
